{include file="public/header" /}
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6f6;</i>
                    <cite>产品管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('admin/Goods/goodsInfo')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>产品列表</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="{:url('admin/GoodsClassController/classManageView')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>产品分类</cite>
                        </a>
                    </li >
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe820;</i>
                    <cite>新闻管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a  _href="{:url('admin/News/newsInfo')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>新闻列表</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="{:url('admin/NewsClassController/classManageView')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>新闻分类</cite>
                        </a>
                    </li >
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6fa;</i>
                    <cite>案例管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a  _href="{:url('admin/Cases/CasesInfo')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>案例列表</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="{:url('admin/CaseClassController/classManageView')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>案例分类</cite>
                        </a>
                    </li >
                </ul>
            </li>
            <li>
                <a _href="{:url('admin/Admin/adminInfo')}">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>管理员列表</cite>
                </a>
            </li>
            <li>
                <a _href="{:url('admin/MessageController/messageInfo')}">
                    <i class="iconfont">&#xe74e;</i>
                    <cite>留言列表</cite>
                </a>
            </li>
            <li>
                <a _href="{:url('admin/WebSet/webInfoView')}">
                    <i class="iconfont">&#xe6ae;</i>
                    <cite>站点设置</cite>
                </a>
            </li>
            <li>
                <a _href="{:url('admin/Scope/scopeInfoView')}">
                    <i class="iconfont">&#xe74f;</i>
                    <cite>业务范围</cite>
                </a>
            </li>
            <li>
                <a _href="{:url('admin/About/aboutInfo')}">
                    <i class="iconfont">&#xe6fc;</i>
                    <cite>关于我们</cite>
                </a>
            </li>
            <li>
                <a _href="{:url('admin/Contact/contactInfo')}">
                    <i class="iconfont">&#xe725;</i>
                    <cite>联系方式</cite>
                </a>
            </li>
            <li>
                <a _href="{:url('admin/Link/linkInfo')}">
                    <i class="iconfont">&#xe749;</i>
                    <cite>友情链接</cite>
                </a>
            </li>
            <li>
                <a _href="{:url('admin/Cooperate/cooperateInfo')}">
                    <i class="iconfont">&#xe82a;</i>
                    <cite>合作伙伴</cite>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->