<div id="container">
  <div class="sidebar">
    <div class="sideMenu">
      <h3><a href="{:url('index/News/index')}#container" title="新闻动态">新闻动态</a></h3>
      <ul>
          {volist name="$NewsClassLists" id="NewsClassList"}
          <li class="menu-item"><a href="{:url('index/News/newsClassifyShow',['newsClassId'=>$NewsClassList.NewsClassId])}#container">{$NewsClassList.ClassName}</a></li>
          {/volist}
      </ul>
    </div>
    <div class="widget">
      <h3>联系信息</h3>
      <div class="textwidget">
          {volist name="$ContactInfo" id="ContactInfoList"}
          <p><img src="__STATIC__/about/images/online.jpg" alt="联系信息"/></p>
          <p><b>全国服务热线：{$ContactInfoList.telephone|default='telephone【默认值】'}</b></p>
          <p><b>移动电话：</b>{$ContactInfoList.cellphone|default='cellphone【默认值】'}</p>
          <p><b>联系Q Q： </b>{$ContactInfoList.qq|default='qq【默认值】'}</p>
          <p><b>电子邮箱： </b><a href="mailto:{$ContactInfoList.email|default='email 默认'}">{$ContactInfoList.email|default='email 默认'}</a></p>
          <p><b>公司地址： </b>{$ContactInfoList.address|default='address【默认值】'}</p>
          {/volist}
      </div>
    </div>
  </div>
  <div class="main">
    <div class="newsBox">
      <h3>新闻动态</h3>
      <ul>
        {volist name="$newsInfo" id="newsInfoList"}
        <li>
            <span>{$newsInfoList.create_time}</span><i class="icon-angle-right"></i>
            <a href="{:url('index/news/newsInfo',['id'=>$newsInfoList.newsId])}" title="{$newsInfoList.newsname}" target="_blank">{$newsInfoList.newsname}</a>
        </li>
        {/volist}
      </ul>
        <div id="page">{$newsInfo|raw}</div>
        <style>
            #page  ul li{
                float: left;
                width:20px;
                margin:10px;
            }

            #page li{
                padding:2px 10px;
                box-shadow: 5px 5px 5px #888888;
                border-radius:25px;
                border:#f0ad4e 1px solid;
            }

            #page a{
                padding:1px 10px 10px 6px;
                color:#f0ad4e;
            }

            #page a:hover{
                color: whitesmoke;
            }

            #page li:hover{
                background:orange;
            }
            #page .clear{
                display: none;
            }
        </style>
    </div>
  </div>
</div>