<div id="container">
  <div class="sidebar">
    <div class="sideMenu">
      <h3><a href="{:url('index/News/index')}#container" title="新闻动态">新闻动态</a></h3>
      <ul>
          {volist name="$NewsClassLists" id="NewsClassList"}
          <li class="menu-item"><a href="{:url('index/News/newsClassifyShow',['newsClassId'=>$NewsClassList.NewsClassId])}#container">{$NewsClassList.ClassName}</a></li>
          {/volist}
      </ul>
    </div>
    <div class="widget">
      <h3>联系信息</h3>
      <div class="textwidget">
          {volist name="$ContactInfo" id="ContactInfoList"}
          <p><img src="__STATIC__/about/images/online.jpg" alt="联系信息"/></p>
          <p><b>全国服务热线：{$ContactInfoList.telephone|default='telephone【默认值】'}</b></p>
          <p><b>移动电话：</b>{$ContactInfoList.cellphone|default='cellphone【默认值】'}</p>
          <p><b>联系Q Q： </b>{$ContactInfoList.qq|default='qq【默认值】'}</p>
          <p><b>电子邮箱： </b><a href="mailto:{$ContactInfoList.email|default='email 默认'}">{$ContactInfoList.email|default='email 默认'}</a></p>
          <p><b>公司地址： </b>{$ContactInfoList.address|default='address【默认值】'}</p>
          {/volist}
      </div>
    </div>
  </div>
  <div class="main">
    <div class="post lightbox">
      {volist name="$newsArray" id="newsArrayList"}
      <h2>{$newsArrayList.newsname}</h2>
      <div class="postmeta">
          <span>日期：{$newsArrayList.create_time}</span>
          <span>分类：<a href="{}" title="{}" >{$newsArrayList.newsclassid}</a></span>
          <span>浏览：{$newsArrayList.lookglance}次</span>
      </div>
      <!--新闻的图片-->
      <!--<p style="text-align: center;">-->
      <!--<img style="width: 600px; height: 400px;" src="{}" alt="{}" height="400" border="0" vspace="0" width="600"/>-->
      <!--</p>-->
      <!--正文-->
      <p>{$newsArrayList.newscontent}</p>
      {/volist}
    </div>
    <div class="pn">
      {foreach $newsArrayFront as $front}<p>上一篇：<a href="{:url('index/news/newsInfo',['id'=>$front.newsId])}" >{$front.newsname}</a></p>{/foreach}
      {foreach $newsArrayAfter as $after}<p>下一篇：<a href="{:url('index/news/newsInfo',['id'=>$after.newsId])}" >{$after.newsname}</a></p>{/foreach}
    </div>
    <div class="relatedProcuts">
        <!--相关产品轮播 限制5个-->
        <!--<h3><i class="icon-caret-down"></i>相关产品</h3>-->
        <!--<ul class="bxslider" id="postbx">-->
        <!--<li> <a href="{}" target="_blank" title="{}"> <img alt="{}" src="{}"/> </a> </li>-->
        <!--</ul>-->
        <!--相关新闻列表 限制5个-->
        <h3><i class="icon-caret-down"></i>相关新闻</h3>
        <ul>
            {volist name="$classNewsList" id="newsList"}
            <li><i class="icon-angle-right"></i><a href="{:url('index/news/newsInfo',['id'=>$newsList.newsId])}" title="{$newsList.newsname}">{$newsList.newsname}</a></li>
            {/volist}
        </ul>
    </div>
  </div>
</div>
